  body{
margin: 0;
}
.header1{

height: 45px;   
border-bottom: 1px solid #aeb8c1;
display: flex;
align-items: center;

}
.header1 button{
    height: 30px;
    width: 30px;
    margin-left: 6px;
}
.left_arrow{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 6px;
    background-color: #aeb8c1;
    border: 1px solid #aeb8c1;
    opacity: 0.2;
}
.actualiser{
    width: 30px;
    height: 30px;
    margin-left: 6px;
}
.header1 button:hover{
    background-color: #aeb8c1;
}

.home{
    opacity: 0.5;
    height: 30px;
    width: 30px;
    margin-left: 6px;
    border-radius: 10%;
}

.home:hover{
    background-color: #aeb8c1;
}

.loupe{
    opacity: 0.5;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.search_arrow{
    opacity: 0.5;
    width: 18px;
    height: 18px;
    margin: 12px;
}
.s{
display: flex;
height: 30px;
width: 1500px;
border: 1px solid grey;
border-bottom: 0px;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
align-items: center;
}

.rechercher{
    display: flex;
    align-items: center;
}

.search1{
    border:none;   
    width: 1400px;
}

.search_arrow{
    rotate: 0deg;
    transition: 0.3s;
}
.generales{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.generales ul{
    margin: 0;
    padding: 0;
    border: 1px solid grey;
    border-top: 0px;
}
.generales ul li{
    height: 30px;
   list-style-type: none;
   display: none;
}
.generales li a{
    text-decoration: none;
    color: black;
}
.generales:hover ul li{
    display: block;
}
.generales:hover{
    margin-top: 120px;
    
}
.generales:hover .s{
    border: 2px solid blue;
}
.generales:hover .search_arrow{
    rotate: 90deg;
    transition: 0.3s;
}

.suggest ul li:hover{
    background-color: #aeb8c1;
}

.suggest ul li{
    background-color: #ffffff;
    align-items: center;
}

 .suggest img{
    opacity: 0.5;
    width: 20px;
    height: 20px;
   margin: 5px;
} 
 .suggest div{
    display: flex;
    align-items: center;
} 

.actualiser{

     opacity: 0.5;
    height: 25px;
    width: 25px;
    margin-left: 6px;
    border-radius: 20%;
}

.actualiser:hover{
    background-color: #aeb8c1;
}
.right_arrow{
    width: 22px;
    height: 22px;
    margin-left: 6px;
    background-color: #aeb8c1;
    opacity: 0.2;
}
.separ_right{
    border: 1px solid #aeb8c1;
    height: 30px;
    margin-right: 10px;
}
.menu,.account,.panneaux_lateraux,.biblio{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    opacity: 0.5;
}
.menu:hover{
    border-radius: 10%;
    background-color: #aeb8c1;
}
.panneaux_lateraux:hover{
    border-radius: 10%;
    background-color: #aeb8c1;
}
.account:hover{
    border-radius: 10%;
    background-color: #aeb8c1;
}
.biblio:hover{
    border-radius: 10%;
    background-color: #aeb8c1;
}

.google{
    width: 25px;
    height: 25px;
    margin: 12.45px;
}

.general_search{
    width: 500px;
    height: 50px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
  margin-left: auto;
  margin-right: auto;
 margin-top: 125px;
 justify-content: space-between;

}

.general_search:hover {
    border: 1px solid black;
}

.general_input{
border: 0px;
height: 25px;
font-size: 17px;
}

.img_general_search{
    width: 25px;
    padding: 15.5px;
    opacity: 0.8;
    /* margin-left: 213px; */
}

.img_general_search:hover{
   background-color: #aeb8c1;
}

.d{
    display: flex;
    align-items: center;
}

.plus_visites{
    width: 185px;
    margin-right: auto;
    margin-left: 425px;
    margin-top: 50px;
}

.plus_visites img{
    height:17px;
    width:17px;
    margin-right: 5px;
    margin-left: 5px;
}

.app1{
    display: flex;
}

.app1 img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: #ecebeb;
}

.app{
    display: flex;
}

.app1 img{
    border: 4px solid #ffffff;
}

.app1 img:hover{
    border: 4px solid #aeb8c1;
    transition: 0.1s;
}

.app1 p{
    text-align: center;
    font-size: 12px;
    font-family: 'Trebuchet MS';
    margin-top: -2px;
}

.separ1,.separ2{
    display: flex
}

.app2 p{
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    margin-top: -2px;
}

.app2 img{
  width: 208px;
  height: 130px;
    margin: 0;
}

.sous_app21,.sous_app22,.sous_app23,.sous_app24,.sous_app25,.sous_app26,.sous_app27,.sous_app28{
    border-radius: 4%;
    width: 208px;
    height: 130px;
    margin-right: 25px;
    margin-bottom: 30px;
    border: 5px solid #ffffff;
}

.sous_app21:hover,.sous_app22:hover,.sous_app23:hover,.sous_app24:hover,.sous_app25:hover,.sous_app26:hover,.sous_app27:hover,.sous_app28:hover{
    border: 5px solid #aeb8c1;
    transition: 0.1s;
}
